
@keyframes stamp-nought {
    from {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.001);
    }
}

@keyframes stamp-cross-after {
    from {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-100%, -50%) rotate(90deg);
    }
}

@keyframes stamp-cross-before {
    from {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(0, -50%) rotate(90deg);
    }
}

@keyframes stamp-strikeout-horizontal {
    from {
        width: 110%;
        margin-left: -10%;
    }
}

@keyframes stamp-strikeout-vertical {
    from {
        height: 110%;
        margin-top: -10%;
    }
}

@keyframes stamp-strikeout-diagonal {
    from {
        height: 150.463%;
        margin-top: -11.52%;
    }
}

@keyframes whirl-board {
    from {
        transform: rotate(270deg) scale(0.01);
    }
}

@keyframes reload-board {
    50% {
        transform: scale(0.001) rotate(-270deg);
    }
}

@keyframes pulse-message {
    50% {
        transform: scale(1.2);
    }
}

@keyframes fall-logo {
    from {
        margin-top: calc(-31px - 100%);
    }
}
