@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&display=swap');

$header-height: 3.5em;

* {
    box-sizing: border-box;
    user-select: none;
    &::-moz-focus-inner {
        border: 0;
    }
}

body {
    margin: 0;
}

.container {
    height: 100vh;
    font-family: sans-serif;
    white-space: pre-wrap;
    color: #dadada;
    background: #222;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    .app-logo {
        margin-top: 7px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Staatliches;
        font-weight: 400;
        font-size: 3em;
        &-title-part {
            line-height: 1;
        }
    }
}

main {
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    .message {
        font-family: 'Open Sans', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__text {
            display: inline-flex;
            align-items: center;
            font-size: 17px;
            &Winner {
                display: inline-flex;
                align-items: center;
                text-transform: uppercase;
                font-weight: 800;
            }
        }
        &.--start {
            .message__button {
                display: none;
            }
        }
        &.--draw {
            .message {
                &__text {
                    letter-spacing: 0.03em;
                    &Winner {
                        margin-right: 1px;
                        order: 1;
                    }
                }
                &__button {
                    color: #dadada;
                    font-family: inherit;
                    margin-top: 14px;
                    padding: 11px 56px;
                    font-size: 1em;
                    background: #303030;
                    border: 1px solid #dadada;
                    border-radius: 4px;
                    &:hover {
                        cursor: pointer;
                        background: lighten(#303030, 5%);
                        transition: ease-in .25s;
                    }
                }
            }
        }
        &.--noughts {
            .message {
                &__textWinner::before {
                    content: '';
                    width: 1em;
                    height: 1em;
                    margin-right: 7px;
                    background: rgba(0,0,0,0);
                    border: 5px solid #dc143c;
                    border-radius: 50%;
                }
                &__button {
                    color: #dadada;
                    font-family: inherit;
                    margin-top: 14px;
                    padding: 11px 56px;
                    font-size: 1em;
                    background: #302222;
                    border: 1px solid #dc143c;
                    border-radius: 4px;
                    &:hover {
                        cursor: pointer;
                        background: lighten(#302222, 5%);
                        transition: ease-in .25s;
                    }
                }
            }
        }
        &.--crosses {
            .message {
                &__text {
                    margin-right: -7px;
                    &Winner {
                        &::after {
                            content: '';
                            height: 1.41em;
                            padding: 4px;
                            border-left: 7px solid #008080;
                            background: rgba(0,0,0,0);
                            transform: rotate(-45deg) translate(-27%, -27%);
                            order: -1;
                        }
                        &::before {
                            content: '';
                            height: 1.41em;
                            padding: 4px;
                            margin-right: -10px;
                            border-left: 7px solid #008080;
                            background: rgba(0,0,0,0);
                            transform: rotate(45deg) translate(-10%, 13%);
                            order: -1;
                        }
                    }
                }
                &__button {
                    color: #dadada;
                    font-family: inherit;
                    margin-top: 14px;
                    padding: 11px 56px;
                    font-size: 1em;
                    background: #223030;
                    border: 1px solid #008080;
                    border-radius: 4px;
                    &:hover {
                        cursor: pointer;
                        background: lighten(#223030, 5%);
                        transition: ease-in .25s;
                    }
                }
            }
        }
    }
    .board {
        display: grid;
        grid-template-columns: repeat(2, 25vw [line-ver]) 25vw;
        grid-template-rows: repeat(2, 25vw [line-hor]) 25vw;
        grid-gap: 5px;
        background: #dadada;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        &-tile {
            background: #222;
            position: relative;
            &.--empty:hover {
                cursor: pointer;
            }
            &.--nought::before {
                content: '';
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0);
                border: 16px solid #dc143c;
                border-radius: 50%;
                position: absolute;
                top: -16px;
                left: -16px;
                transform: scale(.4);
            }
            &.--cross {
                &::after {
                    content: '';
                    width: 100%;
                    height: 16%;
                    background: #008080;
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%) rotate(-45deg) scale(.62);
                }
                &::before {
                    content: '';
                    width: 100%;
                    height: 16%;
                    background: #008080;
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%) rotate(45deg) scale(.62);
                }
            }
        }
        &.--finish:hover {
            cursor: pointer;
        }
    }
}

@media (min-width: 1053px) {
    .container {
        justify-content: flex-start;
    }
    main {
        display: grid;
        grid-template-columns: 45vw [line-ver] 45vw;
        .board {
            justify-self: center;
            grid-template-columns: repeat(2, 15vh [line-ver]) 15vh;
            grid-template-rows: repeat(2, 15vh [line-hor]) 15vh;
            &-tile {
                &.--nought::before {
                    border: 28px solid #dc143c;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(0.4);
                }
            }
        }
    }
}

@media (min-width: 713px) and (max-width: 1052px) {
    main {
        display: grid;
        grid-template-columns: 45vw [line-ver] 45vw;
        .board {
            justify-self: center;
            grid-template-columns: repeat(2, 90px [line-ver]) 90px;
            grid-template-rows: repeat(2, 90px [line-hor]) 90px;
        }
    }
}

@media (min-width: 395px) and (max-width: 712px) {
    main {
        height: 80vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        .board {
            grid-template-columns: repeat(2, 90px [line-ver]) 90px;
            grid-template-rows: repeat(2, 90px [line-hor]) 90px;
        }
        .message {
            position: absolute;
            top: 0;
        }
    }
}

@media (max-width: 394px) {
    .message {
        position: absolute;
        top: 1vh;
        &__button {
            display: none;
        }
    }
}
